@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }

    img.avatar, .hero-avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }

    footer {
       display: none;
    }

    .site-nav {
       display: none;
    }

    .dark-mode-toggle {
       display: none;
    }

    .hero-section .hero-links {
       display: none;
    }

    .talk-card-thumb {
       display: none;
    }

    .talk-card-action {
       display: none;
    }

    .cta-section .cta-button {
       display: none;
    }

}